WS/WebContent/WEB-INF/hello3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:schema="http://www.unieap.com/esb/service"
	xmlns:tns="http://www.unieap.com/esb/service" targetNamespace="http://www.unieap.com/esb/service">

	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.unieap.com/esb/service">
			<element name="QueryInfoRequestType">
				<complexType>
					<all>
						<element name="RequestHeaderType">
							<complexType>
								<all>
									<element name="accessPwd" nillable="true" type="string"></element>
									<element name="accessUser" nillable="true" type="string"></element>
									<element name="bizCode" nillable="true" type="string"></element>
									<element name="channelCode" nillable="true" type="string"></element>
									<element name="extTransactionId" nillable="true" type="string"></element>
									<element name="transactionId" nillable="true" type="string"></element>
									<element name="requestTime" nillable="true" type="string"></element>
									<element name="responseTime" nillable="true" type="string"></element>
									<element name="systemCode" nillable="true" type="string"></element>
									<element name="version" nillable="true" type="string"></element>
								</all>
							</complexType>
						</element>
						<element name="RequestBodyType">
							<complexType>
								<all>
									<element name="serviceNumber" nillable="true" type="string"></element>
									<element name="extParameters" nillable="true" type="string"></element>
								</all>
							</complexType>
						</element>
					</all>
				</complexType>
			</element>
			<element name="QueryInfoResponseType">
				<complexType>
					<all>
						<element name="ResponseHeaderType">
							<complexType>
								<all>
									<element name="accessPwd" nillable="true" type="string"></element>
									<element name="accessUser" nillable="true" type="string"></element>
									<element name="bizCode" nillable="true" type="string"></element>
									<element name="channelCode" nillable="true" type="string"></element>
									<element name="extTransactionId" nillable="true" type="string"></element>
									<element name="transactionId" nillable="true" type="string"></element>
									<element name="requestTime" nillable="true" type="string"></element>
									<element name="responseTime" nillable="true" type="string"></element>
									<element name="systemCode" nillable="true" type="string"></element>
									<element name="version" nillable="true" type="string"></element>
								</all>
							</complexType>
						</element>

						<element name="ResponseBodyType">
							<complexType>
								<all>
									<element name="serviceNumber" nillable="true" type="string"></element>
									<element name="extParameters" nillable="true" type="string"></element>
								</all>
							</complexType>
						</element>
					</all>
				</complexType>
			</element>


			<element name="eRequest" type="string" />
			<element name="eResponse" type="string" />
		</schema>
	</wsdl:types>

	<wsdl:message name="QueryInfoRequestMessage">
		<wsdl:part element="schema:QueryInfoRequestType" name="QueryInfoRequestType" />
	</wsdl:message>
	<wsdl:message name="QueryInfoResponseMessage">
		<wsdl:part element="schema:QueryInfoResponseType" name="QueryInfoResponseType" />
	</wsdl:message>

	<wsdl:portType name="QueryInfoPortType">
		<wsdl:operation name="queryInfo">
			<wsdl:input message="tns:QueryInfoRequestMessage" name="aRequest" />
			<wsdl:output message="tns:QueryInfoResponseMessage" name="aResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EsbBinding" type="tns:QueryInfoPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryInfo">
			<soap:operation soapAction="" />
			<wsdl:input name="aRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="aResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EsbService">
		<wsdl:port binding="tns:EsbBinding" name="HelloPort">
			<soap:address location="http://localhost:8080/WS/services/hello.wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>