Unieap/src/com/apps/esb/service/demo/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:schema="http://www.unieap.com/esb/service/hello"
	xmlns:tns="http://www.unieap.com/esb/service/hello/definitions"
	targetNamespace="http://www.unieap.com/esb/service/hello/definitions">

	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.unieap.com/esb/service/hello">
			<element name="eRequest" type="string" />
			<element name="eResponse" type="string" />
		</schema>
	</wsdl:types>

	<wsdl:message name="bRequest">
		<wsdl:part element="schema:eRequest" name="cRequest" />
	</wsdl:message>
	<wsdl:message name="bResponse">
		<wsdl:part element="schema:eResponse" name="cResponse" />
	</wsdl:message>

	<wsdl:portType name="HelloPortType">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:bRequest" name="aRequest" />
			<wsdl:output message="tns:bResponse" name="aResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloBinding" type="tns:HelloPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="" />
			<wsdl:input name="aRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="aResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloService">
		<wsdl:port binding="tns:HelloBinding" name="HelloPort">
			<soap:address location="http://localhost:8080/Unieap/services/hello.wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>